/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

$dark: #4a5487;
$light: #fffbd5;

$link: $light + ($light - #fff) / 4;
$secondary_link: $light - $dark;

body {
  text-align: left;
  background: $dark;
}

a, a:visited, a:active {
  color: $link;
}
a.secondary, a:visited.secondary, a:active.secondary {
  color: $secondary_link;
}

#menu {
  width: 100%;
}
#menu .link {
  float: left;
}
