// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#posts {
  text-align: left
}

#posts li.first {
  padding-top: 15px;
}

#posts li {
  padding-left: 15px;
}
